.side-bar{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  position: fixed;
  top:60px;
  bottom:0;
  left:0;
  width:70px;
  border-right: 1px solid grey ;
  z-index: 11;
}
.side-bar-tool{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  height: 80px;
  background-color: white;
  width: 70px;
  font-size: 10px;
  text-align: center;
  transition: background-color 0.5s;
}
.side-bar-tool img{
  height: 30px;
  margin-bottom: 5px;
}
.side-bar-tool:hover{
  background-color: rgb(237, 233, 233);
}